.btn {
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 24px;
  text-decoration: none;
  text-align: center;
  font-family: 'Yandex Sans Display', sans-serif;
  font-style: normal;
  color: var(--Font-nickname);
  cursor: pointer;
  transition: background .2s linear;
}

/* Размеры на разных экранах */

.btnProportionsAuth {
  width: 356px;
  height: 98px;
  padding: 0px 32px;
  font-weight: 700;
  font-size: 28px;
  line-height: 26px;
}

.btnProportionsMain {
  max-width: 296px;
  width: 100%;
  height: 324px;
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
}

.btnProportionsOrder {
  max-width: 322px;
  width: 100%;
  height: 221px;
  font-weight: 700;
  font-size: 32px;
  line-height: 26px;
}

/* Кнопка на экранах Auth */

.btnForward{
  background: var(--Yandex-amber-12);
  color: var(--Yandex-black);
}

.btnForward:hover {
  background: var(--Yandex-amber-13);
}

.btnBack {
  background: var(--Blue-grey-1);
  color: var(--Yandex-black);
}

.btnBack:hover {
  background: var(--Yandex-grey-4);
}

/* Кнопка Получить заказ на главном экране */

.btnPackage {
  height: 662px;
  background: var(--Yandex-amber-12);
}

.btnPackage:hover {
  background: var(--Yandex-amber-13);
}

.btnLogout {
  background: var(--Yandex-grey-4);
}

.btnLogout:hover {
  background: var(--Button-grey-2);
}

.btnProblem {
  background: var(--Yandex-grey-3);
}

.btnProblem:hover {
  background: var(--Button-grey);
}

.btnCancelOrder {
  height: 662px;
  background: var(--Yandex-amber-12);
  grid-column: 2/3;
  grid-row: 1/4;
}

.btnCancelOrder:hover {
  background: var(--Yandex-amber-13);
}

.btnOrder {
  background: var(--Yandex-amber-12);
}

.btnOrder:hover {
  background: var(--Yandex-amber-13);
}

.btn:disabled {
  background: var(--Yandex-amber-12);
  cursor: default;
  opacity: .4;
}