.btn {
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 24px;
  text-decoration: none;
  text-align: center;
  font-family: 'Yandex Sans Display', sans-serif;
  font-style: normal;
  color: var(--Font-nickname);
  transition: background .2s linear;
}

.btnProportionsAuth {
  width: 356px;
  height: 98px;
  padding: 0px 32px;
  font-weight: 700;
  font-size: 28px;
  line-height: 26px;
}

.btnForward{
  background: var(--Yandex-amber-12);
  color: var(--Yandex-black);
}

.btnForward:hover {
  background: var(--Yandex-amber-13);
}