.wrapper {
  height: 824px;
  margin-top: 36px;
  display: flex;
  justify-content: space-between;
  gap: 12px;
  box-sizing: border-box;
}

.wrapperGoods {
  padding: 40px 32px;
  background: var(--Blue-grey-1);
  border-radius: 12px;
}

.wrp{
  margin-top: 32px;
  max-height: 585px;
  outline: none;
  overflow-y: scroll;
}

.wrpGoods {
  max-width: 1090px;
  width: 100%;
  box-sizing: border-box;
  padding-bottom: 32px;
  border-bottom: 2px solid #E8E8E8;
}

.packed {
  background: #F5FFF6;
}

.disablePack{
  opacity: .5;
}

.packingGoods {
  padding: 40px;
  background: var(--Blue-grey-1);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.goods {
  padding-left: 154px;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.liGoods {
  list-style-type: none;
  background: #F8F8F8;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
}

.choiceGoods {
  background: #EAFFEB;
}

.invisible {
  opacity: 0;
  transition:
  opacity 0.3s ease-in-out,
  height 0.3s 0.3s ease-in-out;
}

.title {
  margin: 0;
  text-align: center;
  font-family: 'Yandex Sans Display';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 50px;
  color: #000000;
}

.btns {
  margin: 32px 0 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.links {
  display: flex;
  justify-content: space-between;
  gap: 22px;
}

.li {
  margin: 0;
  padding: 0;
}

.threeCircles {
  height: 78vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
