.wrapper {
  height: 824px;
  margin: 36px 24px 0;
  display: flex;
  justify-content: space-between;
  gap: 12px;
}

.wrapperGoods {
  padding: 40px 32px 0;
  background: var(--Yandex-white-grey-1);
  border-radius: 12px;
}

.packingGoods {
  padding: 40px;
  background: var(--Yandex-white-grey-1);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.goods {
  padding-left: 154px;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.liGoods {
  list-style-type: none;
  background: #F8F8F8;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
}

.title {
  margin: 0;
  text-align: center;
  font-family: 'Yandex Sans Display';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 50px;
  color: #000000;
}

.btns {
  margin: 32px 0 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.links {
  display: flex;
  justify-content: space-between;
  gap: 22px;
}

.li {
  margin: 0;
  padding: 0;
}

.threeCircles {
  height: 78vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
