.wrapper {
  margin: 36px 24px 0;
  display: flex;
  justify-content: space-between;
  gap: 12px;
}

.wrapperGoods {
  padding: 40px 32px 0;
  background: var(--Yandex-white-grey-1);
  border-radius: 12px;
}

.packingGoods {
  padding: 40px;
  background: var(--Yandex-white-grey-1);
  border-radius: 12px;
}

.goods {
  padding-left: 154px;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
}