.problemsPage {
  display: flex;
  flex-direction: column;
  background: #F8F8F8;
  align-items: center;
}

.problemsPageContainer {
  display: flex;
  flex-direction: column;
  padding: 12.5% 0
}

.btn {
  width: 768px;
  height: 108px;
  margin-bottom: 24px;
  background: #F3F0E9;
  border-radius: 24px;
  padding: 0;
  border: none;
  cursor: pointer;

  font-family: 'Yandex Sans Display';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 44px;
  color: #212121;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn:hover {
  transition: 0.3s;
  opacity: 0.6;
}

.btn:last-of-type{
  margin-bottom: 0;
}
