.wrapper {
  display: grid;
  justify-content: center;
  padding-top: 125px;
  gap: 32px;
  padding: 125px 12px 0 0;
}

.title {
  font-family: 'Yandex Sans Display';
font-style: normal;
font-weight: 700;
font-size: 56px;
line-height: 68px;
margin: 0;
}

.imgIcon {
  width: 100px;
  height: 100px;
}

.goods {
  list-style-type: none;
  padding: 0;
  margin: 0;
  grid-column: 1;
}