.wrapper {
  max-width: 951px;
  width: 100%;
  margin-top: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mw {
  margin: 0;
  max-width: 1090px;
  width: 100%;
}

.wrapperStep {
  display: flex;
  justify-content: space-between;
}

.mws {
  margin-top: 62px;
}

.title {
  margin: 0;
  font-family: 'Yandex Sans Display';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 50px;
  text-align: center;
}

.steps {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.steps::after {
  content: '';
  width: 837px;
  height: 4px;
  background-color: var(--Yandex-amber-12);
  position: absolute;
  top: 32px;
}

.steps:first-child::after {
  content: '';
  width: 145px;
  height: 4px;
  background-color: var(--Yandex-amber-12);
  position: absolute;
  top: 32px;
}

.steps:last-child::after {
  content: '';
  width: 109px;
  height: 4px;
  background-color: var(--Yandex-amber-12);
  position: absolute;
  top: 32px;
}

.step {
  margin: 0;
  font-family: 'Yandex Sans Display', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
}

.circleWhite {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  background: var(--Yandex-white-grey-1);
  border-radius: 50%;
  z-index: 2;
}

.circleYellow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  background-color: var(--Yandex-amber-12);
  border-radius: 50%;
  z-index: 2;
}

.counter {
  font-family: 'Gilroy', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 12px;
  color: var(--Yandex-white-grey-1);
}