.wrapper {
  max-width: 951px;
  width: 100%;
  margin-top: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mw {
  margin: 0;
}

.wrapperStep {
  display: flex;
  justify-content: space-between;
}

.mws {
  margin-top: 62px;
}

.title {
  margin: 0;
  font-family: 'Yandex Sans Display';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 50px;
  /* identical to box height, or 104% */
  letter-spacing: -0.02em;
  font-feature-settings: 'pnum' on, 'lnum' on;
  text-align: center;
}

.steps {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.steps::after {
  content: '';
  width: 700px;
  height: 4px;
  background-color: #FED42B;
  position: absolute;
  top: 32px;
  z-index: -1;
}

.steps:first-child::after {
  content: '';
  width: 145px;
  height: 4px;
  background-color: #FED42B;
  position: absolute;
  top: 32px;
  z-index: -1;
}

.steps:last-child::after {
  content: '';
  width: 109px;
  height: 4px;
  background-color: #FED42B;
  position: absolute;
  top: 32px;
  z-index: -1;
}

.step {
  margin: 0;
  font-family: 'Yandex Sans Display', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #000;
}

.circleWhite {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  background: #FFF;
  border-radius: 50%;
}

.circleYellow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  background: #FED42B;
  border-radius: 50%;
}

.counter {
  font-family: 'Gilroy', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 12px;
  color: #FFF;
}