.defectiveGoods {
  display: grid;
  justify-content: flex-end;
  grid-template-rows: 214px auto;
  border-top: 1px solid #E8E8E8;
}

.title {
  font-family: 'Yandex Sans Display';
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 68px;
  color: #212121;

  width: 872px;
  text-align: center;
  margin: 32px 0 0;
}

.imgBasket {
  width: 317px;
  height: 260px;
}

.btnPacked {
  width: 322px;
  height: 663px;
  background: #FED42B;
  border-radius: 24px;
  font-family: 'Yandex Sans Display';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  border: none;
  padding: 0;
  margin: 125px 12px 0px 0px;
  grid-column: 2;
  cursor: pointer;
}

.btnPacked:hover {
  transition: 0.3s;
  opacity: 0.6;
}

.wrapp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-row: 2;
  margin: 0 200px 0 0;
}
