@import url('./vendor/normalize.css');
@import url('./vendor/design_tokens.css');
@import url('./vendor/fonts/Yandex_Sans/stylesheet.css');
@import url('./vendor/fonts/Gilroy/stylesheet.css');

body {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  background: var(--Yandex-white-grey-1);
  color: var(--Yandex-black);
}

::-webkit-scrollbar-track {
  background-color: rgb(0,0,0,.2);
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background-color: rgb(0,0,0,.2);
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(0,0,0,.2);
}

::-webkit-scrollbar {
  width: 6px !important;
  height: 6px !important;
}